// @font-face {
//   font-family: Roboto;
//   src: url('~assets/styles/fonts/A-OTF_Pro/Roboto-Thin.ttf');
//   font-weight: 100;
//   font-style: thin;
// }
// @font-face {
//   font-family: Roboto;
//   src: url('~assets/styles/fonts/A-OTF_Pro/Roboto-Light.ttf');
//   font-weight: 300;
//   font-style: light;
// }
@font-face {
  font-family: A_OTF_Pro;
  src: url('~assets/styles/fonts/A_OTF_Pro/A-OTF-MaruFoPro-Regular.otf');
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: A_OTF_Pro;
  src: url('~assets/styles/fonts/A_OTF_Pro/A-OTF-MaruFoPro-Medium.otf');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: A_OTF_Pro;
  src: url('~assets/styles/fonts/A_OTF_Pro/A-OTF-MaruFoPro-Bold.otf');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: A_OTF_Pro;
  src: url('~assets/styles/fonts/A_OTF_Pro/A-OTF-MaruFoPro-Heavy.otf');
  font-weight: 900;
  font-style: black;
}