@font-face {
  font-family: Roboto;
  src: url('~assets/styles/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: thin;
}
@font-face {
  font-family: Roboto;
  src: url('~assets/styles/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: Roboto;
  src: url('~assets/styles/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: Roboto;
  src: url('~assets/styles/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: Roboto;
  src: url('~assets/styles/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: Roboto;
  src: url('~assets/styles/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: black;
}