// // If you have to use other language but English,
// // you need setting document text format to utf-8.
// // http://blog.shg25.com/?p=97
@charset 'utf-8';
@import 'base';
@import 'font';
@import 'reboot';

:root {
  // basic
  --primary: #008088;
  --primary-dark: #24364e;
  --secondary: #5c8d8d;
  --accent: #f4cf4f;
  --golden: #e9d0a1;
  --white: #f5f2e9;
  --black: #2d2c29;
  --primary-hover: #1fb1bb;
  --disable-gray: #95a0b1;
  --line: #dde2eb;
  --bg: #1e2736;
  --bg-dark: #0e1724;
  --deep-dark: #090705;
  --alert-red1: #d36c6c;
  --alert-red2: #ffe4df;
  --alert-red3: #f3a597;
  --text: #627ca3;
  // scroll bar
  --scrollbar: #c9d6ea;

  // shadow
  --button-shadow: rgba(235, 238, 245, 0.2);
  --dark-shadow: rgba(12, 17, 27, 0.6);
  --mask: rgb(32, 33, 36, 0.6);
}
// class
[class$='wrapper'] {
  @include size(100%, auto);
}
[class$='container'] {
  @include size(auto, 100%);
}
