// // If you have to use other language but English,
// // you need setting document text format to utf-8.
// // http://blog.shg25.com/?p=97
@charset 'utf-8';
@import 'base';
@import 'font';
@import 'reboot';

:root {
  // basic
  --primary: #066ddc;
  --primary-hover: #025fc5;
  --text-black: #344a6a;
  --dark: #0b396a;
  --text-dark-grey: #858d9f;
  --text-grey: #95a0b1;
  --text-light-grey: #b9c4d5;
  --tag: #eef3f5;
  --white: #ffffff;
  --white-hover: #f1f6fb;
  --line: #dde2eb;
  --bg: #ebf1f6;
  --ice-blue: #ecf6ff;
  --alert-red1: #fb4927;
  --alert-red2: #ffe4df;
  --alert-red3: #f3a597;
  --alert-red-line: #ffccc2;
  --rejected: #ff7a00;
  --status-stan-by: #00b6ef;
  --status-in-progress: #00af70;
  --status-on-boarding: #9c66e0;

  // scroll bar
  --scrollbar: #c9d6ea;

  // shadow
  --default-shadow: rgba(11, 57, 106, 0.1);
  --button-shadow: rgba(235, 238, 245, 0.2);
  --mask: rgba(52, 74, 106, 0.6);

  // hover
  --table-hover: rgba(24, 91, 163, 0.16);
  --hover-white: #f1f6fb;
  --hover-primary: rgba(2, 95, 197, 0.3);

  // Shipment Steps
  --step-line: #cfd8e1;
  --step-name: #4f4f4f;
}
// class
[class$='wrapper'] {
  @include size(100%, auto);
}
[class$='container'] {
  @include size(auto, 100%);
}
.el-message--success {
  color: var(--white);
  background: var(--dark);
  border: none;
  & .el-icon-success {
    display: none;
  }
  & .el-message__content {
    font-size: 14px;
    color: var(--white);
  }
  & .el-icon-close {
    color: var(--white);
  }
}
