// // If you have to use other language but English,
// // you need setting document text format to utf-8.
// // http://blog.shg25.com/?p=97
@charset 'utf-8';
@import 'base';
@import 'font';
@import 'reboot';

:root {
  // basic
  --primary: #008088;
  --primary-dark: #24364E; 
  --secondary: #5C8D8D;
  --accent: #F4CF4F;
  --golden: #E9D0A1;
  --white: #F5F2E9;
  --black: #2D2C29;
  --primary-hover: #1fb1bb;
  --disable-gray: #95a0b1;
  --line: #dde2eb;
  --bg: #1E2736;
  --bg-dark: #0E1724;
  --deep-dark: #090705;
  --alert-red1: #D36C6C;
  --alert-red2: #ffe4df;
  --alert-red3: #f3a597;

  // scroll bar
  --scrollbar: #c9d6ea;

  // shadow
  --button-shadow: rgba(235, 238, 245, 0.2);
  --dark-shadow: rgba(12,17,27,0.6);
  --mask: rgb(32, 33, 36, 0.6);
}
// class
[class$='wrapper'] {
  @include size(100%, auto);
}
[class$='container'] {
  @include size(auto, 100%);
}
