@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin display-flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin background-image($url, $size: cover, $isHover: true) {
  @include background-setting($size);

  background-image: url($url);
  @if $isHover {
    cursor: pointer;
  }
  &:hover {
    opacity: 0.8;
  }
}
@mixin background-setting($size: cover, $isHover: true) {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $size;
  background-color: transparent;
  @if ($isHover) {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
@mixin text-ellipsis($width: 100%) {
  overflow: hidden;
  max-width: $width;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin custom-scroll() {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    @include size(6px);

    background-color: transparent;
    &-track,
    &-track-piece {
      background-color: transparent;
    }
    &-thumb {
      background-color: var(--scrollbar);
      border-radius: 4px;
    }
  }
}

@mixin custom-gradient(){
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#245068+0,24364e+40,24364e+100 */
  background: #245068; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #245068 0%,
    #24364e 40%,
    #24364e 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #245068 0%,
    #24364e 40%,
    #24364e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #245068 0%,
    #24364e 40%,
    #24364e 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245068', endColorstr='#24364e',GradientType=1 ); /* IE6-9 */
}